@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-bottom: 15px;
}

li {
  width: 100%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.left-side,
.right-side {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  border-bottom: 3px solid grey;
  padding: 10px 0px;
}

.left-side:last-child {
  border: none;
}

.left-side h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.left-side h5 {
  font-size: 16px;
  margin-bottom: 3px;
}

@media (max-width: 900px) {
  .left-side h5 {
    font-size: 15px;
  }
}

.left-side {
  width: 30%;
}

.right-side {
  width: 65%;
}

.avatar-wrapper {
  align-items: center;
}

.avatar {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.location {
  margin-top: 15px;
  font-size: 24px;
}

.about h1 {
  font-size: 56px;
  margin-bottom: 10px;
}

.about h3 {
  font-size: 33px;
  margin-top: 40px;
}

.about p {
  font-size: 20px;
  line-height: 26px;
}

@media (max-width: 900px) {
  .about h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .about h3 {
    font-size: 22px;
    margin-top: 15px;
  }

  .about p {
    font-size: 16px;
    line-height: 20px;
  }
}

.contact {
  margin-bottom: 15px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0px;
  padding-left: 20px;
}

.skills ul li {
  width: 33%;
}

@media (max-width: 1000px) {
  .skills ul li {
    width: 40%;
  }
}

.skills h2 {
  margin-bottom: 15px;
}

.skills h4 {
  margin: 15px 0px;
}

.language-item h4 {
  margin-bottom: 5px;
  font-weight: bold;
}

.item-place h5 {
  margin-bottom: 10px;
  font-size: 18px;
}

.item-place ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  gap: 5px 0px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.education-item div p {
  margin-bottom: 5px;
}
